[{
  "name": "${container_name}",
  "image": "${image}",
  "networkMode": "awsvpc",

  "environment": [
    {
      "name": "ENV",
      "value": "${environment}"
    },
    {
      "name": "LOG_LEVEL",
      "value": "${log_level}"
    },
     {
      "name": "BUCKET",
      "value": "${data_bucket}"
    },
    {
      "name": "REDIS_ENDPOINT",
      "value": "${redis_endpoint}"
    },
    {
      "name": "REDIS_QUEUE_NAME",
      "value": "${redis_queue_name}"
    },
    {
      "name": "SERVICE_PORT",
      "value": "${container_port}"
    },
    {
      "name": "NODE_PATH",
      "value": "${NODE_PATH}"
    },
    {
      "name": "NODE_ENV",
      "value": "${NODE_ENV}"
    },
    {
      "name": "MONGODB_HOST",
      "value": "${document_db_endpoint}"
    },
    {
      "name": "MONGODB_PORT",
      "value": "${document_db_port}"
    },
    {
      "name": "APP_URL",
      "value": "${APP_URL}"
    },
    {
      "name": "USERS_API_URL",
      "value": "${USERS_API_URL}"
    },
    {
      "name": "CONTROL_TOWER_URL",
      "value": "${CONTROL_TOWER_URL}"
    },
  ],
  "secrets": [
    {
      "name": "GFW_DATA_API_KEY",
      "valueFrom": "${gfw_data_api_key}"
    }
  ],
  "portMappings": [
    {
      "containerPort": ${container_port},
      "hostPort": ${container_port}
    }
  ],
  "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group}",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "${container_name}"
       }
  }
}]
